html, body, #root {
   height: 100%;
   width: 100%;
   padding: 0;
   margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-link-light {
  background-color: gray;
}

.navbar-link.active > .navbar-link-light {
  background-color: greenyellow;
}

.content-container {
  height: 96%;
}

.content-container, .top-control-bar {
  width: 98%;
}