.display-screen {
  background: rgb(255, 244, 224);
  width: 350px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: black;
  font-family: 'Roboto Mono', Courier, monospace;
  font-size: small;
}

.display-screen.dark-mode {
  background: black;
  color: lightcoral;
}